// "marketing" ecrit en haut

.market {
    color: $Grey;
    font-family: $Dosis;
    font-size: $MarPx;
    font-weight: $Bold;
    margin-top: 24px;

    @media screen and (max-width : $tablet618)
    {
        font-size: $SerPx;
        display: none;
    }
}