// Le form de la partie newsletter

.newsIn {
    background-color: $Input;
    border-radius: 5px;
    border: none;
    padding: 2vH 20px;
    width: 28%;
    margin-right: 1%;
}

.newsIn::placeholder {
    color : $LightBlue;
    font-family: $Poppins;
    font-size: $ButPx;
    font-weight: $Regular;
}

.newsLab {
    opacity: 0;
}

@media screen and (max-width: $laptop1024) {
    .newsIn {
        width: 40%;
    }
}

@media screen and (max-width: $laptop1024) {
    .newsIn {
        width: 90%;
        margin-bottom: 2vH;
    }
}