//Polices 
$Dosis : 'Dosis', sans-serif;
$Lato : 'Lato', sans-serif;
$Lobster : 'Lobster', cursive;
$Poppins : 'Poppins', sans-serif;

//Couleurs
$BlueDeg : linear-gradient(280deg, rgba(97,86,249,1) 0%, rgba(26,18,159,1) 100%);
$Grey : #484848;
$Dark : #42495B;
$LightBlue : #7A839E;
$TitleBlue : #7E76F9;
$PriceBlue : #7f76f934;
$White : #FFFFFF;
$Price : #1000FF;
$Input : #F6F7FB;
$cardShadow : 0 10px 20px 0 rgba(126, 118, 249, 0.1);
$cardShadowHover : 0 10px 20px 0 rgba(127, 118, 249, 0.452);

//Tailles
$ButPx : 12px;
$TitPx : 20px;
$BigPx : 50px;
$ParPx : 16px;
$SerPx : 25px;
$MarPx : 40px;
$CarTPx : 18px;
$CarPx : 15px;
$PriPx : 30px;
$PparPx : 28px;
$NewsPx : 32px;
$TouPx : 31px;
$btsPx : 74px;


//Graisses
$Light : 300;
$Regular : 400;
$Medium : 500;
$Semi-Bold : 600;
$Bold : 700;
$Extra-Bold : 800;

// %
$p100 : 100%;
$pphone : 80%;
$p75 : 75%;
$p50 : 50%;
$p33 : 33%;
$p24 : 24%;
$p20 : 20%;
$p12 : 12%;

//Responsive
$desktop1560 : 1560px;
$laptop1024 : 1025px;
$laptop1434 : 1434px;
$tablet768 : 769px;
$tablet618 : 619px;

